<%= link_to "/favorites/#{@post.id}/destroy",
            method: :delete,
            class: 'unlike',
            remote: true do %>
  <div class="like-btn-unlike">
    <i class="fa fa-heart"></i>
  </div>
<% end %>
<div class="fav-count">
  <b class="fav-count-number"><%= @favorite %></b> いいね
</div>
