@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

// ミックスイン
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin placeholder($color) {
  &::placeholder {
    color: $color;
  }
  // IE
  &:-ms-input-placeholder {
    color: $color;
  }
  // Edge
  &::-ms-input-placeholder {
    color: $color;
  }
}

@mixin center-width($width) {
  width: $width;
}

@mixin headtext($color) {
  text-align: left;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 30px;
  color: $color;
}

@mixin label-color($color){
  color: $color;
}

// ヘッダーの高さ
$header-height: 51px;
$main-color: #00a0e9;
$main-color-hover: #00558F;

// 全ページ共通

body {
  padding-top: $header-height;

          }

#page {
  margin-top: 16px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

// テキストの見栄え
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  font-weight: normal;

}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// ヘッダー


.navbar {
  border-bottom: 1px solid #e7e7e7;
  background-color: rgba(255, 255, 255, 1);
  li {

  }
}

#logo {
  float: left;
  img {
    height: $header-height;
  }
}

.btn-logo {
  color: $main-color;
  border: solid 2px $main-color;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  border-radius: 3px;
  transition: .4s;
  &:hover {
    background: $main-color;
    color: white;
  }
}
.nav-item {
  padding: 0 10px;
}

.nav-link {
  color: $main-color;
  &:hover {
    color: $main-color-hover
  }
}

// 通知
li.new_notification > a > span {
  color: red;
}


// フッター
footer {
  background-color: white;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  small {
    float: center;
  }
}

// 新規登録ページ
#sign_up_background {
  text-align: center;
  background-image: url("/sign_up_image.jpg");
  background-size:cover;
  background-position: center center;
  position: relative;

  &:before {
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
  }
}
.headtext-signup {
  @include headtext(black);
  background-color: rgba(255,255,255,0.3);
}


.layout_body_signup {
  position: relative;
  background-color: rgba(255,255,255,0);
  width: 60%;
  padding: 100px 0 100px 0;
  text-align: center;
  padding-bottom: 20px;
  display: inline-block;
  @include center-width(300px);
}

.signup-textform {
  background-color: rgba(255,255,255,0.3);
  color: white;
}

.signup-form {
  margin-bottom: 20px;
  input {
    @include placeholder(rgba(0,0,0,0.8));
    border: none;
    &:focus {

    }
  }
}

.button-signup {
  margin: 30px 0;
  height: 50px;
}

.signup-bottom-link {
  color: rgba(255,255,255,0.8);
}

.member {
  font-family: 'Sawarabi Mincho', sans-serif;
}



// ログイン画面

#login-image{
  background-image: url("/login_image.jpg");
  background-size:cover;
  background-position: center center;
}

.no-gutters {
  margin:0;
  padding:0;
}

.no-gutters　> .col,
.no-gutters　> [class*="col-"] {
  margin:0;
  padding:0;
}

.layout_body_login {
  background-color: rgba(	0,0,25,1);
  display: inline-block;
}

.login-body {
  padding-bottom: 20px;
  width: 60%;
  margin: 0 auto;
}

.headtext-login {
  @include headtext(rgba(229,229,229,1));
}


.form-group {
  text-align: left;
  @include label-color(rgba(229,229,229,1));

  input[type="email"] {
    width: 100%;
  }
  input[type="password"] {
    width: 100%;
  }
  input[type="name"] {
    width: 100%;
  }
  input[type="password_confirmation"] {
    width: 100%;
  }
  textarea[type="introduction"] {
    width: 100%;
  }

}

.label-layout {
  margin-bottom: 0;
}

.button-basic {
  width: 100%;
  background-color: rgba(0, 160, 233, 0.8);
  color: white;
  padding: none;
  border: none;
  &:hover {
    background-color: $main-color-hover;
  }
}

// 新規登録エラーメッセージ
#error_explanation {
color: white;
}

.layout_body_useredit {
  @include center-width(300px);
  padding-bottom: 20px;
  display: inline-block;
}

// プロフィール画面

.show_background {
  background-color: rgba(235,255,255,1);
  text-align: center;
}

.layout_body_usershow {
  width: 60%;
  padding-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
}

.user_show_top {
  background-color: rgba(25,25,25,1);
  padding-bottom: 10px;
}

.plofile-name {
  border-bottom: 1px solid #eaeaea;
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
}

.show-image {
  margin-bottom: 10px;
}

.show-introduction {
  color: rgba(229,229,229,1)
}

.show-edit {
  padding: 5px;
  font-size: 10px;
  .show-edit-button {
    color: white;
    background-color: rgba(0,0,0,0.8);
    padding: 5px 7px;
    border-radius: 2px;
  }
}
