<div class="container">
  <div class="row">
    <div class="col-md-8 photo_area">
      <%= image_tag('home_image.jpg',alt: "home_image" ) %>
    </div>
    <div class="col-md-4 explain_area">
      <h1>explain</h1>
    </div>
  </div>
</div>
